@charset "utf-8";
/* CSS Document */

html{
	scroll-behavior: smooth;
}

.menu__item {
  width: 50px;
  height: 50px;
  border-radius: 12.5rem;
  display: inline-block;
  margin-left: 2.1rem;
  animation-name: close;
  animation-duration: 0s;
  will-change: width background-color;
  transition: background 0.55s;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid black;
}

.menu__item:first-child {
  margin-left: 0;
  background: #FFE29C;
}
.menu__item:nth-child(2){
  background: #fcf8cc;
}
.menu__item:nth-child(3){
  background: #c7f4c1;
}

.menu__item--animate {
  animation-duration: 0.5s;
}
.menu__item--active {
  width: 17rem;
  animation-name: open;
}

.menu__item--active.menu__item--yellow { background: #FFE29C; }
.menu__item--active.menu__item--red { background: #fcf8cc; }
.menu__item--active.menu__item--green { background: #c7f4c1; }

.menu__item:hover{	
    border: 5px black;
	box-shadow: 0px 5px 4px 1px #fff;
}
/*.*/

.gif{
	background: #ffe0e1;
}
.items2 img{
	width: 100%;
	overflow: hidden;
}

.bg{
	background: #d4e7fc;
}

.rotate{
	transition-duration: 1s;	
}

.rotate:hover{
	transform: rotate(30deg);
	transition-duration: 2s;
}

.scale2:hover{
	transform: scale(1.3);
	z-index: 99999;
}
.scale2{
	transition: all 2s;
}

/*animation type*/
.wrapper{
  text-align: center;
}
.wrapper .static-txt{
  margin-top: 60px;
  color: #6d392e;
  font-size: 80px;
  font-weight: 600;
}

.wrapper .static-txt:hover{
  color: #f97a91;
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #f97a91;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f6f7fc;
  border-left: 2px solid #b74096;
  animation: typing 3s steps(10) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/*slidervip*/
.slidervip{
	background: #fcf8cc;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	
}


.slidervip::before, .slidervip::after {
	content: "";
	border-radius: 50px;
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slidervip::after {
	right: 0;
	top:0;
	transform: rotateZ(180deg);
	
}

.slidervip::before {
	left: 0;
	top:0;
}

.slidervip .slide-track{
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slidervip .slidee{
	height: 100px;
	width: 250px;
}

@keyframes scroll {
	0%{
		transform: translateX(0);
	}
	
	100%{
		transform: translateX(calc(-250px * 7));
	}
	
}



